* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: rgb(57, 70, 83);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  color: white;
}

.perfil {
  display: flex;
  margin-top: 15px;
  margin-right: 15px;
  gap: 10px;
  align-items: center;
}
.perfil a{
    color: white;
    transition: background-color 0.3s;
    font-weight: 500;
    text-decoration: none;
    font-size: 24px;
}
.perfil a:hover{
    background-color: #395253;
}

nav {
  background-color: rgb(60, 90, 121); 
  padding: 10px 0; 
}

nav ul {
  list-style: none;
  color: white;
  display: flex;
  gap: 10%;
  justify-content: space-between;
  margin-left: 10%;
}

nav ul a {
  color: white;
  text-decoration: none;
  padding: 8px 12px;
  border-radius: 5px;
  transition: background-color 0.3s;
  font-weight: 500;
}

nav ul a:hover {
  background-color: #395253;
  color: white;
}

.btn-iniciar {
  padding: 10px;
  background-color: #395253;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
  transition: background-color 0.3s;
}

.btn-iniciar:hover {
  background-color: #2f4347;
}

footer {
  display: flex;
  background-color: rgb(57, 70, 83);
  justify-content: center;
  align-items: center;
  padding: 15px 0;
  gap: 10px;
  color: white;
  font-size: 14px;
  margin-top: 10%;
}

.reporte {
  border: 1px solid #aaa;
  border-radius: 10px;
  padding: 15px;
  margin: 15px auto;
  max-width: 500px;
  background-color: #f9f9f9;
}

a.crear{
  text-decoration: none;
  margin-left: 15%;
  transition: background color 0.3s;
}

a.crear:hover{
  background-color: green;
}